.dropdown-content{
   top: 64px!important;
}

h1.header {
   font-size: 3em;
}

.container{
   width: 80%!important;
}


section.table-gestion{
   width: 80%;
}

img.imageGestion {
   max-width: 200px;
}

.formulaire img {
   max-width: 400px;
}

.formulaire h2{
      font-size: 1.8em;
}

.formulaire h3{
      font-size: 1.6em;
}

section.pagination{
   margin-top: 15px;
}

section.pagination a{
   text-align: center;
}

.contact h1 {
   font-size: 1.5em;
   font-weight: bold;
   margin-bottom: 5px;
}
.contact p {
   margin-top: 2px;
}

.bottom-links a {
   font-size: 3em;
}

img.sidenav-background {
   max-width:100%;
   max-height:100%;
}
