/******************* Font ************************/
@font-face
{
    font-family: 'molgak_classyregular';
    src: url('../css/molgak-classy-regular/molgakclassyregular-nrodg-webfont.woff2') format('woff2'),
         url('../css/molgak-classy-regular/molgakclassyregular-nrodg-webfont.woff') format('woff'),
         url('../css/molgak-classy-regular/molgakclassyregular-nrodg-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ragnorthbold';
    src: url('../css/wagon/wagon-bold_copie-webfont.woff2') format('woff2'),
         url('../css/wagon/wagon-bold_copie-webfont.woff') format('woff'),
         url('../css/wagon/wagon-bold_copie-webfont.ttf') format('ttf');

    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'victory_history_demoregular';
    src: url('../css/victory_history/victory_history_demo-webfont.woff2') format('woff2'),
         url('../css/victory_history/victory_history_demo-webfont.woff') format('woff'),
         url('../css/victory_history/victory_history_demo-webfont.ttf') format('ttf'),
         url('../css/victory_history/victory_history_demo-webfont.otf') format('otf');
    font-weight: normal;
    font-style: normal;

}

.inter
{
    font-family:'inter',sans-serif;
}

.merryweather
{
    font-family:'Merriweather Sans', sans-serif;
}

.molgak
{
    font-family: 'molgak_classyregular','serif';
}
/******************* \Font/ ************************/

/******************* Police-Size *******************/
.taille4
{
    font-size:4em;
}
.taille3
{
    font-size:3em;
}
.taille2
{
    font-size:2em;
}

.taille1-cinque
{
    font-size:1.5em;
}
.taille1-trois
{
    font-size:1.3em;
}
.taille1
{
    font-size:1em;
}
.taille0-huit
{
    font-size:0.8em;
}

.taille0-cinq
{
    font-size:0.5em;
}
/******************* \Police-Size/ *******************/

*, ::before, ::after
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
a
{
    text-decoration:none;


}
li
{
    list-style: none;
}
body
{
    background-color:#140f16;
    /* background-color:#fffffd; */
    color:#ffe9fb;
}

main
{
    min-height: 70vh;
}
footer
{
    /* background-color:#fffffd; */
    background-color:#140f16;
    color: #FFE1F0;
    position:relative;
    bottom:0;
    width:100%;
}


/******************* Filtre ********************/

section.filtre
{
    display:flex;
    width: 15%;
    /* justify-content: center; */
    margin-top: 20px;
    margin-right: 20px;
}
ul.liens-filtre
{
 font-weight: 100;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 margin-top: 60px;  
}

li.filtre
{
   display:flex;
   justify-content: center;
   /* justify-content: space-between; */
   margin-bottom: 10px;
   background-color:#ffffff;
   border:#000000 1px solid;
   border-radius: 40px;
   padding:5px 25px 5px 25px;

    
    /* background-color:#ff0180; */
}
a.filtre
{
    display: flex;

    color: rgb(0, 0, 0);

    /* color: #360750; */
}
a.filtre:hover
{
    /* color:#2d6030cc; */
    color: rgba(251, 225, 255, 0.795);

}

/********************* \Filtre/ **********************/


/********************* Pagination *******************/
.conteneur-page
{
    display:flex;
    justify-content:center;
    align-items:center;
    height:5vh;
    width: 100%;
}
/********************* \Pagination/ ****************/


/********************* Header **********************/

header
{  
    /* display: flex;
    justify-content: center;
    text-align: center;
    background-color: #FFE1F0;
    font-family: 'molgak_classyregular','arial';
    width: 100%;
    height: 10vh;
    font-size: 1.5em;

    color: #360750; */
}

.al-beyt
{   
    margin:15px;
}

.header * {
    z-index: 2;
}

nav.header
{
    
   background-color: #FFE1F0;
   height:50px;
   line-height: 35px;
   width: 100%;
}
a.link-nav
{
    text-decoration:none;
    color:#140f16;

    font-weight: 300;
}

.active > a {
    font-weight: 400;
}

nav.header > ul {
    align-items: stretch;
    height: 100%;
}

nav ul
{   list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /*height: 5vh;*/
    /* background-color: rgb(182, 127, 255); */
}
nav ul li
{

     /* display: flex;

    justify-content: center;
    align-items: center;
    text-align: center; */
    /* font-family: 'ragnorthbold'; */
    font-family: 'victory_history_demoregular';
    /* font-family: 'molgak_classyregular','arial'; */
    /* font-family:'Merriweather Sans', sans-serif; */
    font-weight: 200;
    font-size: 1.2em;
    letter-spacing: 2px;
    padding: 10px;
    position: relative;
    object-fit: contain;
    /* margin-top:10px; */
    
}
nav ul li:hover
{
    cursor: pointer;
    background-color:#ffecf6;
    /*height: 5vh;*/
}
.sub-menu-1
{
    position: absolute;
    left: 0;
    top:100%;
    display:none;
    width: 19vw;

   
}
.sub-menu-1 ul li
{
    background-color: #FFE1F0;
    /* border-bottom: #ff0180 solid 0.5px; */
    font-family:'Merriweather Sans', sans-serif;
    display:flex;
    justify-content: center;
    /* position: absolute; */
    
}
nav ul li:hover .sub-menu-1
{
  display: block;
  position: absolute;
  /* padding: 15px; */

  /* background:#883960; */
 
}

nav ul li:hover .sub-menu-1 ul
{
  display: block;
}
/************************* \Header/ ***********************/


/************************* Footer **************************/
.footer-box
{
    display:flex;
    justify-content:space-around;
    width: 100%;
    align-items: center;
    border-top: 0.5px solid  #ffe1f080;

}


.footer-mail
{
    font-size: 0.8em;
    margin-top: 15px;
}

.footer-mentions
{
    margin-top: 60px;
    font-size: 0.8em;
    color: #FFE1F0;

}
.footer-mentions:hover
{
    font-size: 0.8em;
    color: #ffe1f0bd;


}

.footer-liens
{
    margin-right: 30px;
   color: #FFE1F0;
   font-size:1.5em;
}

.footer-liens:hover
{
   color: #ffe1f0bd;

}

/************************* \Footer/ **************************/


/************ Trame Articles-Evenements-Artistes *************/
.contener
{
    display:flex;
    flex-direction:column;
    width: 100%;
    position: relative
}

.sous-contener
{
    display:flex;
    justify-content:center;
    margin-top:30px;

}


.box-shadow
{   
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
}
.animation
{
    filter: brightness(80%);
    transition: all 1s ease;
    transition: transform .5s;
}

.animation:hover
{   
    filter: brightness(100%);
    transform: scale(1.01);
}

.animation2
{
    filter: brightness(90%);
    transition: all 0.5s ease;

}

.animation2:hover
{
    filter: brightness(100%);

}

/**************** Icon *************************/

.plus
{

}


/**************** \Icon/ *************************/


/************\Trame Articles-Evenements-Artistes/************/


/*********************** INDEX ****************************/
.global-box
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.parent-shuffle
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.names
{
    
    /* display: flex;
    justify-content: space-between; */
    margin-top: 10px;
    margin-bottom: 10px;
   
}
.link-names
{
    font-family: 'molgak_classyregular','arial';
    font-size:3rem;
    color: #08A95D;
    text-justify: inter-word;
    /* background-color: #b4a0a0; */
    transition: transform .5s;
}

.link-names:hover
{
    font-family: 'molgak_classyregular','arial';
    font-size:3rem;
    color: #62d09d;
    text-justify: inter-word;
    transform: scale(1.02);
    
    /* background-color: #b4a0a0; */
}

.index-parent-event
{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.parent-index-affiche
{
    height: 100vh;
    background-color: #62d09d;
}

img.index-affiche
{   
    /* background-color: #ff0180; */
    width: 100%;
    height:  100%;
    object-position: 0% 0%;
    object-fit: cover;
    filter: brightness(60%);
    transition: background-color 0.5s ease-out;
    transition: filter 0.5s ease-out;
}

img.index-affiche:hover
{
    filter: brightness(110%);
    background-color: linear-gradient(rgba(0, 0, 0, 0.619), white, black);
}

.index-parent-infos
{
    /* width: 100%; */
    min-height: 50vh;
    background-color: #FFE1F0;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.index-infos
{
  
    margin:40px;
    padding-left:5%;
    display:flex;
    flex-direction:column;
}

.index-text-style
{
    font-family: 'molgak_classyregular','arial';
    color: #502D60;
    font-weight: 100;
    padding-bottom: 20px;
}

.index-parent-infos .event-titre
{
   font-size: 3em;
   flex-wrap: wrap;
}

.flex 
{
    display: flex;
    /* padding-bottom: 10px; */
}

.parent-date-heure .date-heure
{
    font-size: 1.3em;
    text-decoration: underline;
    font-family: 'Merriweather Sans';
}

.à
{   
    font-weight: 100;
    font-size: 1.3em; 
    font-family: 'Merriweather Sans'; 
}

.adresse
{ 
    font-weight: 100;
    font-size: 1em;
    font-family: 'Merriweather Sans';
}
.index-plus
{
    width: 40%;
    min-height: 50vh;
    /* background-color:#FF7272; */
    display: flex;
    justify-content:center;
    align-items:center;
}

.index-icon
{
    font-size:10em;
    color:#502d60;
    opacity: 0.8;

}

.index-icon:hover
{
  opacity: 1;
}

.mignon
{
    display:flex;
    justify-content: center;
    align-items:center;
    width: 60%;
    height:15vh;
    background-color:#ff7272cb;
    margin-top: 20px;   
    margin-bottom: 40px;   
}

.froufrou
{
    font-family:'Merriweather Sans', sans-serif;
    color:rgba(255, 255, 255, 0.712);
    font-size:1.4em;
    font-weight: 100;
    font-style: italic;
    
}

.news {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content : space-between;
}

.tile{
    height: 200px;
    margin: 4px 0;
    position: relative;
    -webkit-box-shadow: 2px 5px 8px -1px rgba(0,0,0,0.83);
    box-shadow: 2px 5px 8px -1px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.tile .tile-info {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.47);
}

.tile img{
    width: 100%;
    object-fit:cover;
    margin-bottom: 20px;
    height: 200px;

}

.tile:hover{
    -moz-transform: scale(1.01) skew(-1deg, 0deg);
    -webkit-transform: scale(1.01) skew(-1deg, 0deg);
    -o-transform: scale(1.01) skew(-1deg, 0deg);
    -ms-transform: scale(1.01) skew(-1deg, 0deg);
    transform: scale(1.01) skew(-1deg, 0deg);
}

.tile-0 {
    width: 49.5%;
}
.tile-1 {
    width: 49.5%;
}
.tile-2 {
    width: 100%;
}
.tile-3 {
    width: 49.5%;
}
.tile-4 {
    width: 49.5%;
}
.tile-5 {
    width: 100%;
}
.tile-6 {
    width: 49.5%;
}
.tile-7 {
    width: 49.5%;
}

.pagination{
    width: 60%;
    text-align: center;
    margin:20px 0;
    font-size: 1.6em;
}


/*********************** \INDEX/ ****************************/



/************** Template Evenements Articles ***************/
.box-cards
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:70%;
    margin-bottom: 40px;
    /* background-color:#62d09d; */
   
}

article.cards
{
    border:solid 0.5px rgb(65, 65, 65);
    position: relative;
    background-color:#140f16;
    height: 300px;   
    background-color:#d0aa62;
    display: flex;
    justify-content:flex-end;   
    margin-bottom: 40px;
    width: 100%;
    overflow : hidden;
    border-radius: 2px;

    /* flex-shrink: 20;  */
   
}

a.link-img
{
    
    /* height:200px; */
    /* margin-bottom: 40px; */
    width: 100%;
    /* background-color:#360750; */
    
}

img.boucle
{
    /* display:block; */
    
    width: 100%;
    background-color: #08A95D;
    object-fit: cover;
    
    /* margin-bottom: 20px;*/
    /* height: auto;  */
    z-index: 0;
  
} 

div.block-infos
{
    
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    /* background-color:#c7c7c7a5; */
    width: 60%;
    height: 130px;
    z-index: 3;
    bottom:20px;
    right: 30px;
    background: linear-gradient(#c7c7c773, #0000004f,#c7c7c7a5);
}
div.block-infos:hover
{
    background: linear-gradient(#c7c7c7c5, #00000044,#c7c7c7c5);
}
div.block-infos.articles
{

    display:flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    text-shadow: 0px 1px 3px #5c5c5c;
    /* background-color:#c7c7c7a5; */
    width: 90%;
    height: 130px;
    z-index: 3;
    bottom:20px;
    right: 30px;
    background: linear-gradient(#c7c7c773, #0000004f,#c7c7c7a5);
}


.box-cards .titre-auteur
{
    padding-left:20px;
    font-weight: 100;
}

.block-infos .infos 
{
    color: white;

}
.box-cards .fa-circle-plus
{
    font-size: 4em;
    margin-right: 40px;
    background: linear-gradient(0.25turn, #00000056, #c7c7c7a1, #00000056,);
   color: rgba(255, 255, 255, 0.822);
   opacity: 0.8;
   border-radius: 70px;
   transition: all 0.3s ease;

}

.box-cards .fa-circle-plus:hover
{
    color: rgb(248, 241, 241);
    opacity: 1;
}




/************** \Template Evenements Articles/ **************/

/************** Template Artistes *****************/

section.artistes-filtre
{
    display:flex;
    width: 15%;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
}

.artistes-box-cards
{
    display: flex;
    justify-content: center;
    width: 80%;
    
    /* background-color:#08a95e42; */
}
.artistes-sous-box
{
    display: flex;
    flex-wrap: wrap;
    /* background-color:#d0b662; */
    width: 95%;
    
    
}

.artistes-cards
{
    display: flex;
    flex-direction: column;
    margin: 20px;
    filter: brightness(80%);
    transition: all 1s ease;
    color: #fff;
    transition: transform .7s; /*Animation*/

}
.artistes-cards:hover
{   
    
    filter: brightness(100%);
    transform: scale(1.02);
   

}

img.artistes-boucle
{
    width: 300px;
    height: 190px;
    object-fit:cover;
    display:block;
    border-top-left-radius: 2px;
    border-top-right-radius:2px; 
   
   
} 

.artistes-infos
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #502d60;
    color: #fff;
    height: 80px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius:2px;  
}

i.artistes.fa-solid
{
   color: rgba(255, 255, 255, 0.842);
   font-size:2em; 
   transition: all 0.5s;
}

i.artistes.fa-solid:hover
{
   color: rgb(255, 255, 255);
   font-size:2.1em;

}

/************** \Template Artistes/ *****************/

/************** Evenement *****************/
.event
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event .contener1
{
    position: relative;
    display:flex;
    flex-direction: column;
    /* align-items:center; */
    /* justify-content: center; */
    width: 80%;
    height: 120vh;
    /* background-color:#4b5852; */
    margin-top:50px;

}
.event .titre-affiche
{
    display: flex;
    justify-content:flex-end;
    position: relative;
    Width:100%;
    height: 120vh;
    /* background-color:#6dcfa2; */
}
.event .titre
{
    position: absolute;
    display: flex;
    font-family: 'molgak_classyregular','arial';
    color:#ffcce6;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2);
    /* text-shadow: 0 0 2px #360750; */
    /* -webkit-text-stroke: 0.06px #360750; */
    width:50vw;
    /* background-color:#00d9ffa2; */
    z-index: 3;
    left: 5%;
    top:15%;
}

.event h1.titre
{
    font-size: 12vh;
    line-height: 1.2;
}
.event .affiche
{

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    width:50%;


    /* background-color:#ff009da2; */
    z-index: 0;

}
.event img
{

    width:100%;
    /* z-index: 0; */
}

/************** Button-trash *****************/

button .button-trash
{
    border-style: none;
    text-decoration: none;
}

/************** \Button-trash/ *****************/

/************** Legende *****************/

.legende
{
 display: flex;
 font-size: 0.8em;
 font-weight: 100;
 color:#808080;
 padding-top:5px;


}
/************** Legende *****************/
.bloc-info
{
    display:flex;
    flex-direction: column;
    width: 40%;
    position : absolute;
    bottom: 10%;
    left: 5%;
    font-weight: 200;
    color:#ffe9fb;


}

.hr-event
{
    border: 0.3px solid #dac9d686;
    width: 50%;
    margin:40px;
}

.contener2
{
    width: 65%;
}
.event .description
{
    display: flex;
    flex-direction: column;
    font-weight: 200;
    color:#ffe9fb;
    line-height: 1.5;
    font-size: 0.8em;

}

.event .adresse
{
    /* font-weight: 100; */
}
.event .sub-infos
{
    font-weight: 100;
    font-size: 1em;

}


.event .artistes
{
    color: #FF7272;
    border-bottom: 0.5px solid #FF7272;
    transition: all 1s;
    transform: all 1s;
    font-size: 0.8em;
}
.event .artistes:hover
{
    border-bottom: 0.5px solid #FF7272;
    font-style: italic;
}
.event .bloc-image2
{
    margin-top: 50px;
    margin-bottom: 70px;
    display:flex;
    flex-direction: column;
    width: 50%;


}
.bloc-image2 img
{
    width: 100%;

}

.bloc-image2 .legende2
{
    display: flex;
     justify-content:flex-end;
     font-size: 0.7em;
 font-weight: 100;
 color:#5e5a5d;
 padding-top:5px;
}

/************** \Evenement/ *****************/

/************** Article *****************/

main.article
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article
{
    background-color:#fcf7fc;
    color:#221925;
}
.box-cover-article
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.box-cover-article img
{
    width: 100vw;
    height: 100vh;
    object-fit: cover;

}

.contener-article
{
    width: 80%;
    /* background-color:#95c6d4; */
    display: flex;
    justify-content: center;
    align-items:center;

    flex-direction: column;
    margin-top: 50px;
}
.sous-contener-article
{
    display: flex;
}
.contener-article .icones
{
    width: 20%;
    /* background-color:#9ad495; */
    display: flex;
    justify-content: center;
    align-items:flex-start;

}
.icones i
{
    margin:15px;
    font-size:2em;
    color:#999999;
}
.infos-article
{
    /* background-color:#212409; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 30vh;
}

.infos-article .titre-article
{
    font-size: 2em;
}

.infos-article .auteur-date
{
    font-weight:100;
    display:flex;
    justify-content: flex-end;
}

.contener-article .box-description
{
    font-weight:100;
    width:70%;
    font-weight: 300;
    /* margin-top: */
}
.hr-article
{

    border: 0.3px solid #dac9d686;
    width: 50%;
    margin-top:60px;
    margin-bottom:80px;
}

.article .legende
{
    margin-right: 20px;
    padding-top: 10px;
}
/************** \Article/ *****************/

/************** Artiste *****************/
.artiste .contener
{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items:center;
}

.artiste .contener1
{

    width: 80%;
    /* height: 150vh; */
    margin-top:100px;
    margin-bottom:40px;
    display:flex;
    justify-content:center;
}

.infos-artiste
{
    width:50%;
    display:flex;
    flex-direction: column;
    align-items:center;
    /* background-color:#870000 ; */
}
.artiste .nom-description
{
    display:flex;
    flex-direction: column;
    align-items:center;

}
.artiste .nom
{
    font-family: 'victory_history_demoregular';
    margin-bottom: 40px;

}
.artiste .description
{
      display:flex;
      width:80%;
      font-family: 'inter';
      font-weight: 100;
      font-size:0.8em;


}
.artiste .email-siteweb > *
{
    /* display:flex; */
    /* flex-direction: column; */
    display:block;
}
.artiste .links
{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
    /* background-color:#08A95D; */

    width:80%;
    height:20vh;
    margin-top: 100px;
}
.artiste .email-siteweb a
{
    color:#ffe6e6;
    font-style: italic;
    font-family: 'inter';
    font-weight: 100;
    font-size:0.8em;
    text-decoration:overline;

}
.artiste .reseaux a
{
    margin-right: 40px;
    font-size:1.8em;
    color:#ffe6e6;

}
.artiste .box-image
{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    Width:50%;

    height:100%;
    /* background-color:#ededed ; */
}

.artiste img
{
    width:100%;
    /* height: 90vh; */
    object-fit: cover;
    height: 100%;


}
.box-image .legende
{

    display:flex;
    margin-top:5px;
    font-weight: 300;
    justify-content:flex-end;
}
.artiste .stars
{
    display:inline-block;
}

.artiste .box-cards
{
    margin-top: 40px;
}

/************** \Artiste/ *****************/

/************** Presentation *************/
.presentation
{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 100px;
}
.presentation .contener1
{
    display:flex;
    flex-direction: column;
    width: 80%;
}
.presentation .bloc1
{
    width: 70%;
    margin-bottom: 40px;
}

.presentation .couverture
{
    display:flex;

}

.presentation .reseaux
{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left:40px;
}

.presentation .reseaux a
{
    margin-top: 20px;
    font-size:1.5em;
    color:#ffe6e6;
}

.presentation .contener2-pres
{
    display:flex;
   justify-content:center;
    /* width: 100%; */
    margin-top: 50px;
    margin-bottom: 100px;
    width: 80%;

}
.presentation .bloc2
{
    display:flex;
    justify-content:space-between;


}

.presentation .sous-bloc2
{
    display:flex;
    flex-direction: column;
    align-items: space-between;
    width:55%;
    margin-right:100px;
    /* height: 40%; */
}

.presentation .bloc-texte2
{
    margin-bottom:40px;
}
.presentation .image-pres
{
    display:flex;
    align-items:flex-end;

}

.presentation h1
{
    font-size:2em;
    font-weight: 300;
    margin-bottom: 20px ;
}
.presentation p
{
    font-weight: 200;
    font-size: 0.9em;
}

/************** \Presentation/ *************/
